.wrapper {
  padding: 2px;
  border-radius: 5px;
  background: linear-gradient(248deg, #06AD5D -2.85%, #A065EB 112.07%);
  width: fit-content;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;

}

.button {
  --bg-opacity: 0.90;
  border-radius: 5px;
  display: flex;
  border: none;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
  background: linear-gradient(248deg, #A065EB -2.85%, #06AD5D 112.07%);
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: inherit;
  font-style: inherit;
  line-height: normal;
  font-weight: inherit;

  &.secondary {
    background: rgba(var(--raw-bg), var(--bg-opacity));
    transition: background 150ms ease;
    font-family: unset;
  }

  &__children {
    color: var(--color, white);
    text-align: center;
    font-size: inherit;
    font-style: inherit;
    line-height: normal;
    font-weight: inherit;
    letter-spacing: 0.35px;
  }

  &:hover {
    --bg-opacity: 0.86;
  }

  &:active,
  &[aria-selected="true"] {
    --bg-opacity: 0.60;
  }
}