.wrapper {
  padding: 2px;
  border-radius: 5px;
  background: linear-gradient(248deg, #06AD5D -2.85%, #A065EB 112.07%);
  width: fit-content;
}

.button {
  --bg-opacity: 0.90;
  border-radius: 5px;
  display: flex;
  border: none;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &.secondary {
    background-color: rgba(var(--raw-bg), var(--bg-opacity));
    transition: background-color 150ms ease;
  }

  &__children {
    color: var(--color, rgba(255, 255, 255, 0.78));
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &:hover {
    --bg-opacity: 0.86;
  }

  &:active,
  [aria-selected="true"] {
    --bg-opacity: 0.80;
  }
}