.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.input__wrapper {
  flex: 2;
  padding: 2px;
  border-radius: 5px;
  background: linear-gradient(248deg, #06ad5d -2.85%, #a065eb 112.07%);
  width: fit-content;
  width: 100%;
}

.input {
  --bg-opacity: 0.9;
  border-radius: 5px;
  border: none;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
  background: rgba(var(--raw-bg), var(--bg-opacity));
  font-family: inherit;
  color: var(--color, rgba(255, 255, 255, 0.78));
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 100%;
  height: 100%;
  resize: vertical;
  cursor: text;
  transition: background 300ms ease;

  &:hover {
    --bg-opacity: 0.86;
  }

  &:focus {
    outline: none;
    --bg-opacity: 0.8;
  }
}

.button span {
  font-size: 16px;
  font-weight: 300;
}

.answers {
  list-style-type: none;
  padding: 0;

  li {
    border-radius: 3em;
    padding: 6px 18px;
    padding-inline-end: 24px;
    background-color: var(--bg);
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    position: relative;

    +li {
      margin-block-start: 8px;
    }

    .close {
      position: absolute;
      top: -16px;
      right: -2px;
      font-size: 24px;
    }
  }

}