.wrapper {
  border-radius: 5px;
  background: linear-gradient(248deg, #a065eb -2.85%, #06ad5d 112.07%);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(var(--raw-bg));
  border-radius: calc(5px - 2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: auto;
  padding-bottom: 10px;
}

.modalTitle {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #9ca3af;
  font-weight: 600;
  text-align: center;
}

.modalButton {
  margin-top: 1.25rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 2.5rem;
  background-color: #3b82f6;
  color: white;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &:hover {
    box-shadow: 0 4px 14px 2px rgba(0, 0, 0, 0.1),
      0 2px 5px 1px rgba(0, 0, 0, 0.06);
  }
}

.buttonContainer {
  padding: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.button {
  width: 100%;
}