.mask {
  position: fixed;
  z-index: 999;
  background-color: rgb(var(--raw-bg), 0.8);
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;

  &[aria-hidden="false"] {
    opacity: 1;
    pointer-events: unset;

    .wrapper {
      transform: translateY(0);
    }
  }

  .wrapper {
    border-radius: 5px;
    background: linear-gradient(248deg, #a065eb -2.85%, #06ad5d 112.07%);
    width: min(700px, calc(100vw - 32px));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    transform: translateY(50px);
    transition: transform 300ms ease;
  }

  .modalContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(var(--raw-bg));
    border-radius: calc(5px - 2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: auto;
    padding-inline: 16px;
    padding-block-end: 16px;
    width: 100%;

    p {
      margin-block: 0 16px;
    }
  }

  .modalTitle {
    font-size: 20px;
    margin-block: 16px 0;
  }

  .buttonContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-block-start: 32px;
    flex-wrap: wrap-reverse;
  }

  .button {
    flex-grow: 1;

    &:first-of-type {
      font-family: var(--font-title);
    }

    button {
      padding: 6px 12px;
    }
  }
}