@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --color: hsla(0, 0%, 100%, .78);
  --bg: #09091b;
  --bg-1: #272764;
  --spacing: 16px;
}

* {
  box-sizing: border-box;
}

html {
  margin: auto;
  font-family: 'Playpen Sans', system-ui, 'Segoe UI', Roboto, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--color);

}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}