@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Playpen+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  --color: white;
  --raw-bg: 9, 9, 27;
  --bg: rgb(var(--raw-bg));
  --bg-1: #272764;
  --spacing: 16px;
  --font-title: 'Playpen Sans', system-ui, 'Segoe UI', Roboto, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --max-width: 960px;
}

* {
  box-sizing: border-box;
}

html {
  margin: auto;
  font-family: 'Nunito', system-ui, 'Segoe UI', Roboto, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: hidden;
  /* height: 100%; */
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--color);
  max-width: var(--max-width);
  margin-inline: auto;
}

h1,
h2,
h3 {
  font-family: 'Playpen Sans', system-ui, 'Segoe UI', Roboto, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;

}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

pre,
code,
kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

p {
  letter-spacing: 0.5px;
}