.splash {
  margin-block-start: 94px;
  height: 100vh;

  &__logo {
    background: var(--bg-1);
    border-radius: 50%;
    object-fit: cover;
    height: auto;
    width: min(194px, 100%);
    margin-inline: auto;
    display: block;
    padding: 12px;
  }

  &__title {
    color: var(--color, rgba(255, 255, 255, 0.78));
    text-align: center;
    font-family: Playpen Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-block: 0;
    margin-block: 16px;
  }

  &__action {
    margin-inline: auto;
  }
}

.form {
  padding-inline: var(--spacing);

  &[aria-hidden="false"] {
    footer {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__section {
    scroll-snap-align: start;
    height: calc(100vh - var(--spacing));
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 100vh;

    header {
      margin-block-start: calc(var(--spacing) * 4);

      h1,
      p {
        margin-block: 0;
      }

      p {
        opacity: 1;
      }
    }

    main {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      overflow-y: auto;
      max-height: calc(100svh - 62px - 58px - 138px - 16px);

      .question {
        flex-grow: 1;

        button {
          padding-inline: 2px;
        }
      }
    }

    &__next,
    &__back {
      width: 100%;

    }

    &__back {
      span {
        font-size: 16px;
      }
    }
  }

  footer {
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;
    backdrop-filter: blur(4px);
    padding-inline: var(--spacing);
    padding-block: 8px 16px;
    max-width: var(--max-width);
    margin-inline: auto;

    .form__progress {
      position: relative;
      height: 12px;
      width: 100%;
      background: linear-gradient(248deg, #06AD5D -2.85%, #A065EB 112.07%);
      border-radius: 3px;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 12px;
        width: calc((1 - var(--progress)) * 100%);
        background: rgba(var(--raw-bg), 1);
        transition: width 600ms ease;
      }
    }

    &>*:not(.form__progress) {
      width: 100%;
    }
  }
}