.splash {
  margin-block-start: 94px;
  height: 100dvh;

  &__logo {
    background: var(--bg-1);
    border-radius: 50%;
    object-fit: cover;
    height: auto;
    width: min(194px, 100%);
    margin-inline: auto;
    display: block;
    padding: 12px;
  }

  &__title {
    color: var(--color, rgba(255, 255, 255, 0.78));
    text-align: center;
    font-family: Playpen Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-block: 0;
    margin-block: 16px;
  }

  &__action {
    margin-inline: auto;
  }
}

.form {
  padding-inline: var(--spacing);

  &[aria-hidden="false"] {

    footer {
      opacity: 1;
      pointer-events: all;
    }
  }



  &__section {
    scroll-snap-align: start;
    height: calc(100dvh - var(--spacing));
    display: flex;
    flex-direction: column;
    gap: 12px;

    header {
      margin-block-start: 78px;

      p {
        opacity: 1;
      }
    }

    main {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .question {
        flex-grow: 1;

        button {
          padding-inline: 2px;
        }
      }
    }

    &__back,
    &__back button {
      width: 100%;
    }


  }

  footer {
    margin-top: auto;
    position: fixed;
    bottom: 16px;
    left: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease;

    .form__progress {
      position: relative;
      height: 12px;
      width: 100%;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        border-radius: 3px;
      }

      &::after {
        width: calc(var(--progress) * 100%);
        background: var(--bg-1);
        transition: width 600ms ease;
      }

      &::before {
        width: 100%;
        background: rgba(var(--raw-bg), 0.95);
      }
    }

  }
}