.navbar {
  display: flex;
  width: 100%;
  padding: var(--spacing);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  &__title {
    color: var(--color, rgba(255, 255, 255, 0.78));
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    font-family: var(--font-title);
  }

  [role="menu"] {
    cursor: pointer;
  }
}