.recommendations {
  height: 100svh;
  padding-inline: var(--spacing);
  padding-block-end: var(--spacing);
  position: relative;
  display: flex;
  flex-direction: column;

  header {
    padding-block-start: 56px;

    h1 {
      margin-block: 0;
    }

    p {
      opacity: 1;
    }
  }

  .no__book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding-inline: 16px;

    h1 {
      font-size: 16px;
      opacity: 0.8;
    }

    p {
      font-size: 14px;
      opacity: 0.8;
    }

    &>* {
      margin-inline: auto;
    }
  }

  main {
    height: 100%;

    .img__wrapper {
      // padding: 8px;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      max-width: 440px;
      height: 100%;
      margin: auto;
      // background-color: var(--bg-1);

      .mask {
        position: absolute;
        inset: 0;
        background: rgb(9, 9, 27);
        background: linear-gradient(0deg, rgba(9, 9, 27, 0.8407738095238095) 64px, rgba(9, 9, 27, 0.15) 50%);
        transition: background 500ms ease;
      }

      .book__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 2px;
      }

      .info {
        position: absolute;
        left: 8px;
        width: calc(100% - 16px);
        padding-inline: 8px;
        top: calc(100% - 80px - 64px - 16px);
        overflow: hidden;
        transition: top 500ms ease;

        .info__title {
          font-weight: 700;
        }

        p {
          margin-block: 2px;
          font-weight: 500;
        }

        .description {
          font-weight: 400;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        dl {
          display: grid;
          grid-template-columns: 1fr 9fr;
          column-gap: 32px;

          dt {
            font-weight: 700;
            grid-column: 1 / 1;

          }

          dd {
            grid-column: 2 / 2;
            margin-inline-start: 0;
          }
        }
      }
    }

    &[aria-expanded="true"] {
      .img__wrapper {
        .mask {
          background: rgb(9, 9, 27, 0.8);
        }

        .info {
          top: 32px;

          .description {
            -webkit-line-clamp: unset;
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 8px;
    // background-color: var(--bg-1);
    padding-block: 16px;

    &>img {
      --_size: 56px;
      cursor: pointer;
      height: var(--_size);
      width: var(--_size);
    }

    &>img:nth-child(2) {
      --_size: 42px;
    }
  }

  .match {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: rgba(var(--raw-bg), 0.93);
    backdrop-filter: blur(4px);
    z-index: 100;
    transform: translateY(50px);
    transition: transform 300ms ease, opacity 300ms ease;


    header {
      padding-block-start: unset;
      text-align: center;

      img {
        width: min(250px, 100%);
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 100%;
        box-shadow: 0 0 0 8px var(--bg-1);
        margin-block-start: 8px;
      }
    }

    &__fired {
      pointer-events: unset;
      opacity: 1;
      transform: translateY(0);

    }

    &__actions {
      width: calc(100vw - var(--spacing) * 2);
      max-width: 400px;
      margin-inline: auto;
      margin-block-start: 16px;

      .submit {
        font-size: 18px;
      }

      >* {
        width: 100%;
      }

      >*+* {
        margin-block-start: 8px;
        font-size: 16px;
      }
    }
  }
}