.recommendations {
  height: 100svh;
  padding-inline: var(--spacing);
  position: relative;

  header {
    padding-block-start: 78px;

    p {
      opacity: 1;
    }
  }

  main {
    .img__wrapper {
      padding: 8px;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      background-color: var(--bg-1);

      .mask {
        position: absolute;
        inset: 0;
        background: rgb(9, 9, 27);
        background: linear-gradient(0deg, rgba(9, 9, 27, 0.8407738095238095) 0%, rgba(9, 9, 27, 0.10) 25%);
        transition: background 500ms ease;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        border-radius: 2px;
      }

      .info {
        position: absolute;
        bottom: 16px;
        left: 8px;
        width: calc(100% - 16px);
        padding-inline: 8px;
        top: 82%;
        transition: top 500ms ease;

        p {
          margin-block: 2px;
          font-weight: 500;
        }

        .description {
          font-weight: 400;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        dl>dt {
          font-weight: 500;
        }
      }
    }

    &[aria-expanded="true"] {
      .img__wrapper {
        .mask {
          background: rgb(9, 9, 27, 0.8);
        }

        .info {
          top: 32px;

          .description {
            -webkit-line-clamp: unset;
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(250px, 100%);
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }

  .match {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    place-content: center;
    background-color: rgba(var(--raw-bg), 0.93);
    backdrop-filter: blur(4px);
    z-index: 100;
    transform: translateY(50px);
    transition: transform 300ms ease, opacity 300ms ease;

    header {
      padding-block-start: unset;
      text-align: center;

      img {
        width: min(250px, 100%);
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 100%;
        box-shadow: 0 0 0 8px var(--bg-1);
        margin-block-start: 8px;
      }
    }

    &__fired {
      pointer-events: unset;
      opacity: 1;
      transform: translateY(0);

    }

    &__actions {
      width: calc(100vw - var(--spacing) * 2);
      margin-inline: auto;
      margin-block-start: 16px;

      .submit {
        font-size: 18px;
      }

      >* {
        width: 100%;
      }

      >*+* {
        margin-block-start: 8px;
        font-size: 16px;
      }
    }
  }
}